.w-30 {
  width: 30%
}

.w-20 {
  width: 20%;
}

.logo-text {
  width: 100px;
}

.bi {
  margin-right: 10px;
}

.story {
  height: 60px;
}

.db {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

.image {
  width: 300px;
  height: 350px;

}